body {
    font-family: sans-serif;
}

.problems-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    display: block;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

td:first-child, th:first-child {
    width: 33px;
}

th {
    font-weight: bold;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px;
}

.problems {
    display: flex;
    flex-direction: column;
}

.problem-row:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-toggle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
}

.toggle {
    outline: none;
    border: 0;
    margin-bottom: 5px;
}

.toggle:hover {
    cursor: pointer;
}

.schedule-btn {
    margin: 5px;
    padding: 3px;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
    font-size: 1rem;
}

.schedule-btn:hover {
    cursor: pointer;
    font-weight: bold;
}

.notes-container {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
    margin-bottom: 10px;
}

.save-message {
    color: green;
}

.hide {
    display: none;
}